/node_modules
/public/css
/public/hot
/public/js
/public/storage
/storage/*.key
/vendor
/.idea
/.yarn
.env
.env.backup
.phpunit.result.cache
.bash_aliases
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
